/* You can add styles here */

#logo {
    height: 3em;
}

ul {
    list-style: none;
}

li a {
    color: rgb(250, 217, 217) !important;  
}

ul.navlinks li {
    display: inline-block;
    padding-right: 10px;
    color: white;
}

.nav-container {
    display: flex;
    align-items: center;
    margin: auto;
    width: 1200px;
}

img {
    height: 100px;
    width: 100px;
    display: flex;
    margin-top: 20px;
}

.text {
    display: flex;
    justify-content: space-between;
}

.card-product {
    flex: 1 0 25%;
    width: 200px;
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-top: 20px;
}

.bubble-list {
    display: flex;
    flex-wrap: wrap;
}

.info-wrap {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.info-wrap a {
    color: black !important;
}